.dossierwrapper{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.onecard{
    object-fit: contain;
    margin-top: 15px;
}
