@media screen and (min-width : 576px ) {
    
}

.editeur{
    /* width: 80vw; */
    height: 50vh;
    float: right;
    margin-right: 2%;
    margin-top: 4%;
}

.Name{
    font-size: 140%;
    font-family: "Anta", sans-serif;
    font-weight: bold;
    background: linear-gradient(45deg, #333A73, #50C4ED , #4914f9);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}




