.editeur{
    /* width: 80vw; */
    height: 50vh;
    float: right;
    margin-right: 2%;
    margin-top: 4%;
}

.Name{
    font-size: 140%;
    font-family: "Anta", sans-serif;
    font-weight: bold;
    background: linear-gradient(45deg, #333A73, #50C4ED , #4914f9);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.editorWrapper{
    display: flex;
}
.editor{
    width: 45%;
}

.puts{
    width: 45%;
}

.icons{
    display: flex;
}

@media screen and (max-width: 992px) {
    .editorWrapper{
        width: 100%;
        display: block;
    }

    .editor{
        width: 100%;
    }

    .puts{
        display: flex;
        width: 100%;
        /* background-color: #4914f9; */
        align-items: center;
        gap: 10px;
    }
    
    .input, .output{
        width: 50%;
    }
    .output{
        height: 50%;
    }

    .icons{
        display: none;
    }

}





